body {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-color: rgb(99, 99, 99);
}

.top {
      text-align: center;
      left: 10px;
      right: 10px;
      top: 10px;
      padding-top: 5px;
      border: 5px solid #ddbc00;
}

.top h1 {
      font-size: 50px;
}

.form {
      top: 10px;
      border: 5px solid #ddbc00;
      position: relative;
      display: block;
      padding: 50px;
}

.form a {
      margin-bottom: 10px;
}