body {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-color: rgb(15, 15, 15);
      color: white;
}

.top {
      text-align: center;
      left: 10px;
      right: 10px;
      top: 10px;
      padding-top: 5px;
      border: 7px solid white;
}

.top h1 {
      font-size: 50px;
}

.form {
      top: 15px;
      border: 7px solid white;
      position: relative;
      display: block;
      padding: 50px;
}

.form a {
      margin-bottom: 10px;
}
